# Frontend/src/ 기준으로 Node.js 빌드
# 결과물 생성 확인

name: Frontend Build

on:
  push:
    branches: ["release"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: |
          cd Frontend
          npm install

      - name: Build frontend
        run: |
          cd Frontend
          npm run build
